# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency & package manager
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build & output
/.next/
/out/
/build/
/coverage/

# Test & script output
tests/
scripts/

# Log & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc system files
.DS_Store
*.pem

# Env & secrets
.env*
.env.local
invoger-fdc2b-firebase-adminsdk-fbsvc-c841cab3ee.json

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts
tsconfig.tsbuildinfo

# Editor/IDE
.vscode/
.idea/

# MacOS
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# TXT & temp
*.txt
*.tmp
*.swp
*.swo
package-lock.json
